.meal-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination ul {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
}
