@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #333;
  color: #fff;
  height: 10vh;
}
.home {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 27%;
}
.home h1 {
  margin-left: 1px;
  font-family: "Alfa Slab One", cursive;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 100;
}
nav h2 {
  margin-left: 1px;
  /* font-family: 'Alfa Slab One', cursive; */
  color: #fff;
  /* letter-spacing: 2px; */
  /* font-weight: 100; */
  cursor: pointer;
}
